<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
  <default>
    <klevu_search>
      <product_sync>
        <enabledcms>1</enabledcms>
      </product_sync>
      <cmscontent>
        <enabledcmsfront>0</enabledcmsfront>
      </cmscontent>
    </klevu_search>
  </default>
</config>