.kuClrFilterBoth{
    clear:both;
}

.kuFilterLbl{
    display:inline-block !important;
    float:left;
}

.kuFilterClose{
    display:inline-block !important;
    float:right;
}
.contentSelect{
font-weight:bold;
}