<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
  <default>
    <klevu_search>
      <general>
        <enabled>0</enabled>
        <hostname>box.klevu.com</hostname>
        <rest_hostname>rest.klevu.com</rest_hostname>
        <cloud_search_url>eucs.klevu.com</cloud_search_url>
        <analytics_url>stats.klevu.com</analytics_url>
        <js_url>js.klevu.com</js_url>
		<tiers_url>tiers.klevu.com</tiers_url>
      </general>
      <product_sync>
        <enabled>1</enabled>
        <last_run>Never</last_run>
        <sync_options>1</sync_options>
      </product_sync>
      <developer>
        <force_log>1</force_log>
		<log_level>6</log_level>
        <!-- Log level default is set in the backend model and getter as it uses Zend_Log constants -->
      </developer>
    </klevu_search>
  </default>
</config>