<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\Config\Block\System\Config\Form\Field" type="Klevu\Search\Block\Adminhtml\System\Config\Form\Field"/>
	<preference for="Magento\CatalogSearch\Model\Search\IndexBuilder" 
				type="Klevu\Search\Model\Search\IndexBuilder"/>	
	<preference for="Magento\Framework\Search\Adapter\Mysql\Query\Builder\Match" 
				type="Klevu\Search\Adapter\Mysql\Query\Builder\Match"/>
	<type name="Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection">
        <plugin name="klevu_search" type="Klevu\Search\Model\ResourceModel\Fulltext\Collection" sortOrder="1"/>
    </type>
	<type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="syncCommand" xsi:type="object">Klevu\Search\Console\Command\SyncCommand</item>
            </argument>
        </arguments>
    </type>
</config>