.kuContainer{
	width:100% !important;
}

@media only screen and (max-width: 1024px) {
	.kuSortby{
		width:45%;
	}

	.kuView{
		width:50%;
		text-align:right;
	}
	
	.kuPerPage{
		width:45%;
		text-align:left;
		margin-left:0px;
		margin-top:10px;
	}
	
	.kuPagination{
		width:50%;
		margin-top:10px;
	}
	
	.kuGridView ul li{
		width:31%;	
	}
	
	.kuListView ul li .kuNameDesc{
		width:80%;	
	}
	
	.kuListView ul li .kuPrice{
		float:none !important;
		width:100%;
	}
	
	.kuListView ul li .kuPrice .kuSalePrice{
		display:inline !important;	
	}

	.kuListView ul li .kuPrice .kuOrigPrice{
		display:inline !important;	
	}
	
	.kuGridView ul li:nth-child(4){
		border-top:1px solid #ddd;	
	}
		
}

@media only screen and (min-width: 641px) and (max-width: 768px) {
	.kuResultList{
		width:74%;	
	}
	
	.kuGridView ul li{
		width:31%;	
	}
	
	.kuGridView ul li:nth-child(4){
		border-top:1px solid #ddd;	
	}

}

@media only screen and (max-width: 640px) {
	.kuFilters{
		display:none !important;	
	}
	
	.kuResultList{
		float:none;
		width:100%;	
		margin-left:0px;
	}
	
	.kuSortby{
		width:50%;
		height:50px;
	}
	
	.kuSortHeader{
		margin:0px;	
	}

	.kuView{
		width:50%;
		text-align:right;
		height:50px;
	}
	
	.kuPerPage{
		width:35%;
		text-align:left;
		margin:0 auto;
		margin-top:0px;
	}
	
	.kuPagination{
		width:65%;
		margin:0 auto;
		margin-top:0px;
		text-align:right;
	}
	
	.kuGridView ul li{
		width:31%;	
	}
	
	.kuGridView ul li:nth-child(3){
		border-top:none;	
	}
	
	.kuGridView ul li:nth-child(4){
		border-top:1px solid #ddd;	
	}
	
	.kuBottomPagi .kuPerPage{
		margin-left:0px;
		text-align: center;
		margin-bottom:5px;
	}

	.kuBottomPagi .kuPagination{
		width: 100%;
		float: none;
	}
	
}

@media only screen and (max-width: 480px) {
	.kuGridView ul li{
		width:47%;	
	}
	
	.kuGridView ul li:nth-child(3),.kuGridView ul li:nth-child(4){
		border-top:1px solid #ddd;	
	}
}
